name: Krew
on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

jobs:
  krew:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.7

      - name: Update new version in krew-index
        uses: rajatjindal/krew-release-bot@v0.0.47
